
@{
    ViewData["Title"] = "contact";
    Layout = "~/Views/Shared/_CarHouseLayout.cshtml";
}


    <head>

        <link rel="stylesheet" href="~/css/contact.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

     

    </head>
<body>

    <section class="contact">
        <div class="row">
            <div class="col-md-6 inf">
                <h1>CONNECT WITH US</h1>
                <div class="para1 row">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p>info@carhousebd.com</p>
                </div>
                <div class="para1 row">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>+880 1977-252333</p>
                </div>
                <div class="para1 row">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>
                        105 Kakrail & Road#24, House#16, Gulshan Model Town, Gulshan
                        Dhaka, Bangladesh 1000
                    </p>
                </div>
                <div class="para1 row">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>
                        105 Kakrail & Road#24, House#16, Gulshan Model Town, Gulshan
                        Dhaka, Bangladesh 1000
                    </p>
                </div>
            </div>
            <!--Contact Information goes here-->

            <div class="col-md-6">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.9186817750397!2d90.41408741479725!3d23.7859098933362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c79f5c933abd%3A0xb60874e50bc2bc4!2sCar%20House%20Ltd.!5e0!3m2!1sen!2sbd!4v1584973650423!5m2!1sen!2sbd" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <!--MAP GOES HERE-->
        </div>
    </section>









    <script src="js/rellax.min.js"></script>
    <script type="text/javascript">var rellax = new Rellax('.rellax');</script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>