
@{
    ViewData["Title"] = "service";
    Layout = "~/Views/Shared/_CarHouseLayout.cshtml";
}


    <head>
        <link rel="stylesheet" href="~/css/service.css" type="text/css">

       
    </head>

<body style="background-color: #212529;">



    <section class="services">

        <div class="ss1">
            <div class="ss">
                <h1>After Sales Service</h1>
                <p>We make sure products and services meet or surpass the expectations of the customers. Customer satisfaction and customer retention is what we work for. Something more that the content writers will write.</p>
            </div>
        </div>

        <div class="ss2">
            <div class="ss">
                <h1>Car Parts Import</h1>
                <p>We make sure products and services meet or surpass the expectations of the customers. Customer satisfaction and customer retention is what we work for. Something more that the content writers will write.</p>
            </div>
        </div>

        <div class="ss3">
            <div class="ss">
                <h1>Vehicle Maintenance</h1>
                <p>We make sure products and services meet or surpass the expectations of the customers. Customer satisfaction and customer retention is what we work for. Something more that the content writers will write.</p>
            </div>
        </div>

        <div class="ss4">
            <div class="ss">
                <h1>Restorations and Modifications</h1>
                <p>We make sure products and services meet or surpass the expectations of the customers. Customer satisfaction and customer retention is what we work for. Something more that the content writers will write.</p>
            </div>
        </div>

    </section>







    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
