@model Car_House.Models.ViewModels.ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    var exists = (bool)ViewData["Exists"];
    var answer = (bool)ViewData["RightAnswer"];
}

<h1>ForgetPassword</h1>

<h4>ForgetPasswordViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
                @if (!exists)
                {
                    <span class="text-danger">No account exists with this email address</span>
                }
            </div>

            @if (!answer)
            {
                <span class="text-danger">One of the answer is wrong think again</span>
            }

            <div class="form-group">
                <label asp-for="SecurityQuestion1" class="control-label"></label>
                <input asp-for="SecurityQuestion1" class="form-control" />
                <span asp-validation-for="SecurityQuestion1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityQuestion2" class="control-label"></label>
                <input asp-for="SecurityQuestion2" class="form-control" />
                <span asp-validation-for="SecurityQuestion2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

